{% if imports_uuid -%}
from uuid import UUID
{% endif -%}
{% if imports_uuid4 -%}
from uuid import uuid4

{% endif -%}
from fastapi import APIRouter, Depends{% if imports_uuid %}, HTTPException{% endif %}{% if imports_response %}, Response{% endif %}

{% for route in routes -%}
from {{ package_name }}.application.use_cases.{{ model_module }}.{{ route.use_case.filename }} import (
    {{ route.use_case.class_name }},
)
{% endfor -%}
from {{ package_name }}.infrastructure.inbound.api.providers import (
{% for route in routes %}
    {{ route.provider_name }},
{% endfor %}
)

{% if imports_read_schema %}
from {{ package_name }}.infrastructure.inbound.api.schemas.{{ model_module }}.{{ model_module }}_read import {{ read_schema_class }}
{% endif %}
{% if imports_create_schema %}
from {{ package_name }}.infrastructure.inbound.api.schemas.{{ model_module }}.{{ model_module }}_create import {{ create_schema_class }}
{% endif %}
{% if imports_update_schema %}
from {{ package_name }}.infrastructure.inbound.api.schemas.{{ model_module }}.{{ model_module }}_update import {{ update_schema_class }}
{% endif %}
{% if imports_create_schema or imports_update_schema %}
from {{ package_name }}.domain.models.{{ domain_module }} import {{ domain_class_name }}
{% endif %}

router = APIRouter(prefix="{{ router_prefix }}", tags=["{{ router_tag }}"])
{% for route in routes %}


@router.{{ route.method }}("{{ route.path }}"{% if route.response_model != 'None' %}, response_model={{ route.response_model }}{% endif %})
def {{ route.function_name }}(
{% if route.has_id_param %}
    id: UUID,
{% endif %}
{% if route.body_schema_class %}
    payload: {{ route.body_schema_class }},
{% endif %}
    use_case: {{ route.use_case.class_name }} = Depends({{ route.provider_name }}),
) -> {% if route.method == "delete" %}Response{% else %}{{ route.response_model }}{% endif %}:
{% if route.has_id_param and not route.body_schema_class %}
{% if route.method == "delete" %}
    use_case.execute(id)
    {{ route.return_statement }}
{% else %}
    record = use_case.execute(id)
    if record is None:
        raise HTTPException(
            status_code=404,
            detail=(
                "{{ read_schema_class.removesuffix('Read') }}"
                " not found"
            ),
        )
    {{ route.return_statement }}
{% endif %}
{% elif route.body_schema_class and route.has_id_param %}
    domain = {{ domain_class_name }}(id=id, **payload.model_dump())
    record = use_case.execute(domain)
    {{ route.return_statement }}
{% elif route.body_schema_class %}
    domain = {{ domain_class_name }}(id=uuid4(), **payload.model_dump())
    record = use_case.execute(domain)
    {{ route.return_statement }}
{% else %}
    records = use_case.execute()
    {{ route.return_statement }}
{% endif %}
{% endfor %}
