from fastapi import Depends
from sqlalchemy.orm import Session

{% for import in use_case_imports -%}
from {{ package_name }}.{{ import.module }} import {{ import.class_name }}
{% endfor -%}
{% for import in repository_imports -%}
from {{ package_name }}.{{ import.module }} import {{ import.class_name }}
{% endfor %}
from {{ package_name }}.infrastructure.persistence.session import get_session


{% for provider in providers %}
def {{ provider.function_name }}(
    session: Session = Depends(get_session),
) -> {{ provider.import_class_name }}:
    repository = {{ provider.repository_class_name }}(session)
    return {{ provider.import_class_name }}(repository)


{% endfor %}
